version: '3.1'
services:
  db:
    image: mysql
    command: --default-authentication-plugin=mysql_native_password
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: example
  app:
    image: harbor.nersc.gov/das/hello-flask:latest
    restart: always
    ports:
      - 5000:5000
    environment:
      MYSQL_ROOT_PASSWORD: example
    volumes:
      - ./static:/srv/static:ro
